.card {
  width: 150px;
  height: 150px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  background-color: #181825;
  position: relative;
  user-select: none;
  cursor: pointer;
  /* Safari */

  &:before {
    content: "";
    transform-origin: 100% 0%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-top: 1px solid white;
    z-index: -1;
    transform: translate(-50%, 0) rotate(90deg);
  }
}

:host-context(.root) {
  .card:before {
    transform: none;
    top: 53%;
    width: 351px;
    left: -101px;
  }
}

.text-badge {
  font-size: 14px;
  position: absolute;
  color: #45475a;
  font-style: italic;
  top: 5px;
  right: 10px;
}

.image-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ripple-wrapper {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  top: 0;
  left: 0;
  position: absolute;
  overflow: hidden;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;

  --bard-color-brand-text-gradient-stop-1: #4285f4;
  --bard-color-brand-text-gradient-stop-1-rgb: 66, 133, 244;
  --bard-color-brand-text-gradient-stop-2: #9b72cb;
  --bard-color-brand-text-gradient-stop-2-rgb: 155, 114, 203;
  --bard-color-brand-text-gradient-stop-3: #d96570;
  --bard-color-brand-text-gradient-stop-3-rgb: 217, 101, 112;
  --bard-color-surface: #131314;
  background: linear-gradient(74deg,
      var(--bard-color-brand-text-gradient-stop-1) 0,
      var(--bard-color-brand-text-gradient-stop-1) 44%,
      var(--bard-color-surface) 75%,
      var(--bard-color-surface) 100%);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
